{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %} 


<h1>Login...</h1>
<br></br>
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-secondary">Login</button>
    <br></br>
    <div style="display: flex; align-items: center;">
        <h6 style="margin-right: 20x;">Don't have an account?</h6>
        <a style="color: rgb(25, 201, 213); padding-bottom: 9px; margin-left: 8px;" class="nav-link" href="{% url 'register' %}" >Register</a>
    </div>
    
    <!-- <h6>Do'nt have an account?</h6>
    <a style="color: rgb(25, 201, 213);" class="nav-link" href="{% url 'register' %}">Register</a>
    <button  {% url 'register' %}></button> -->
    
    </form>
</div>
{% endblock %}