{% extends 'base.html' %}
{% load static %}
{% block content %} 



 <!--About-->

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <img src="{% static 'assets/img/about/5.png'  %}" class="img-fluid" alt="404">

            <br>
        </br>
            <h3 class="section-subheading text-muted"> At Innovators IT Company, we're more than just a technology firm – we're a team of passionate innovators on a mission to revolutionize the way businesses leverage technology to thrive in the digital age. <br>  Established in 2009, Innovators IT Company has quickly emerged as a leader in providing end-to-end technology solutions to businesses across industries. With a focus on creativity, collaboration, and customer-centricity, we've built a reputation for excellence and innovation that sets us apart in the competitive landscape of IT services.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/1.jpg'  %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">During this period, Innovators IT Company was founded with a small team of passionate individuals dedicated to providing innovative technology solutions. The company started its journey with a focus on a niche market or specific set of services, laying the groundwork for future growth and expansion.!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/2.jpg'  %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2011</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">In March 2011, Innovators IT Company officially became recognized as an agency, marking a significant milestone in its evolution. This transition allowed the company to broaden its scope of services and reach a wider audience, positioning itself as a trusted partner for businesses seeking digital solutions.!</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/3.jpg'  %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">By December 2015, Innovators IT Company had evolved into a full-service technology firm, offering a comprehensive range of services to meet the diverse needs of its clients. This transition represented a strategic shift towards providing end-to-end solutions, from software development to consulting and beyond.!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/4.jpg'  %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">In July 2020, Innovators IT Company embarked on its Phase Two expansion, signaling a new chapter of growth and innovation. This expansion may have involved scaling operations, entering new markets, or launching new product lines, further solidifying the company's position as a leader in the technology industry.!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>


 

{% endblock %}