{% extends 'base.html' %}

{% block content %} 


<h1>Posts</h1>

<ul>

{% for post in object_list %}</a>
<li><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> 
    - <a href="{% url 'category' post.category|slugify %}">{{ post.category}}</a> 
    - {{post.author.first_name}} 
    {{post.author.last_name}} - 
    {{ post.post_date}} <small>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    - <button  class="btn btn-outline-primary"><a  href="{% url 'update_post' post.pk %}">Edit</a></button>
  - <button type="button" class="btn btn-outline-danger"><a href="{% url 'delete_post' post.pk %}">Delete</a></button>
    {% endif %}
    {% endif %}

</small> <br/>
    {{ post.snippet}}</li>
{% endfor%}
</ul>

{% for item in cat_menu %}
{{ item }} <br/>
{% endfor %}

{% endblock %}
